html {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    padding: 0;
    margin: 0;
    background: #e9e9e9;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.grid{
    width: 100%;
    max-width: 1360px; /* Change the limit value if you need */
    margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {

    content: "";
    display: table;
}

.grid:after,
.row:after {
    clear: both;
}

[class *= "col-"]{
    width: 100%;
    float: left;
    min-height: 1px;
}

.col{
    padding: 1em;
    margin: 8px;
    background: white;
    color: #FF4A4A;
    text-align: center;
}

.col-1  { width: 8.33333%; }
.col-2  { width: 16.66667%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33333%; }
.col-5  { width: 41.66667%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33333%; }
.col-8  { width: 66.66667%;}
.col-9  { width: 75%; }
.col-10 { width: 83.33333%; }
.col-11 { width: 91.66667%; }
.col-12 { width: 100%; }





